.addItemContainer {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.addItemWrapper {
  display: flex;
  width: 90%;
  height: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid black;
  margin: 10px auto 0 auto;
  position: sticky;
  top: 40px;
}

.addItemHeader {
  margin: 0;
}

.addItemForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.addItemButton {
  width: 90%;
  border: 2px solid black;
  background: none;
  margin: 10px 0;
}
