.addItemWrapper {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  margin: 10px auto 0 auto;
}

.addItemHeader {
  margin: 0;
}

.addItemForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.addItemButton {
  width: 90%;
  border: 2px solid black;
  background: none;
}
