.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: var(--brandColor);
  padding: 10px;
}

.footerHeader {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}
